/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;		
}
body.front {
	background-image: url('../images/green_nature.jpg');
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #211922;
	margin: 0 auto;	
	color: #FFF;
	font-weight: bold;
}

#first-time{
	display: none;
}

.form-item, .form-actions{margin-bottom: 0;}

div.form-item-title{border:1px solid gray; background-color:  #FFF; padding: 10px; color: #A9A9A9; float: Left;-moz-border-radius:10px; /* Firefox */-webkit-border-radius: 10px; /* Safari, Chrome */	-khtml-border-radius: 10px; /* KHTML */	border-radius: 10px; /* CSS3 */	opacity:0.90;margin-right: 50px;}
div.form-item-title label{font-family:arial; font-size:1.0em; float: left; margin-right: 10px;text-transform:uppercase;}
div.form-item-title input{border:none;}
div.form-item-title input:focus{outline:none;}

div.form-item-link{border:1px solid gray; background-color:  #FFF; padding: 10px; color: #A9A9A9; float: Left;-moz-border-radius:10px; /* Firefox */-webkit-border-radius: 10px; /* Safari, Chrome */	-khtml-border-radius: 10px; /* KHTML */	border-radius: 10px; /* CSS3 */	opacity:0.90;}
div.form-item-link label{font-family:arial; font-size:1.0em; float: left; margin-right: 10px;text-transform:uppercase;}
div.form-item-link input{border:none;}
div.form-item-link input:focus{outline:none;}

div.form-item-embed-code{border:1px solid gray; background-color:  #FFF; padding: 10px; color: #A9A9A9; float: Left;-moz-border-radius:10px; /* Firefox */-webkit-border-radius: 10px; /* Safari, Chrome */	-khtml-border-radius: 10px; /* KHTML */	border-radius: 10px; /* CSS3 */	opacity:0.90;width: 85%;}
div.form-item-embed-code label{font-family:arial; font-size:1.0em; float: left; margin-right: 10px;text-transform:uppercase; margin: 10px}
div.form-item-embed-code input{border:none;}
div.form-item-embed-code input:focus{outline:none;}


div.form-item-embed-code input{
	font-size: 20px ;
	color: #A9A9A9;	
	font-weight: bold;
	text-decoration: none;
}

input.addbutton{float: left;padding: 10px 25px; margin: 17px;font-family:arial; font-size:1.8em;}

.addimageoutput{	
	margin: 20px 0px;
	padding: 20px;
	color: #A9A9A9;
	font-weight: bold;
	-moz-border-radius:10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px; /* KHTML */
	border-radius: 10px; /* CSS3 */
	opacity:0.70;
	clear: both;
}

/*Zone wrapper*/
.zone-preface-wrapper{ margin: 20px auto;}